.badge {
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 2px 10px;
  border-radius: 9999px;
  max-width: fit-content;
  line-height: 16px;
}

.badge-secondary {
  background-color: #e1e1e1;
  color: black;
}

.badge-outline {
  background-color: transparent;
  color: black;
  border: 1px solid #b5b5b5;
}

.badge-danger {
  background-color: #d20000;
  color: white;
}
