.card {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  /* border: 0px solid #dbdbdb; */
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.card-header {
  padding: 24px;
}

.card-title {
  margin: 0;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

.card-description {
  margin: 0;
  color: #bebebe;
  font-size: 14px;
  margin-top: 6px;
  font-weight: 500;
}

.card-content {
  padding: 24px;
  padding-top: 0px;
}

.card-footer {
  padding: 24px;
  padding-top: 0px;
}

.card-foot {
  display: flex;
  justify-content: end;
}
